
@import '../variables.scss';

.footer {
	border-top: $border-style;
	margin: $padding-desktop 0 0 0;
	padding: $padding-desktop 0;
	text-align: center;
	color: $gray;
	.top-btn {
		margin: -$padding-desktop 0 0 0;
		float: right;
		color: $gray;
		padding: $padding-desktop;
		background: none;
		border: 0;
		&:active, &:focus, &:active:focus {
			border: 0;
			outline: 0;
		}
	}
}
